---
import Layout from "../layouts/Layout.astro";
// import Card from '../components/Card.astro';
import Header from "../components/Header.astro";
import OurTrending from "../components/OurTrending.astro";
import OurProducts from "../components/OurProducts.astro";
import Blog from "../components/Blog.astro";
import Footer from "../components/Footer.astro";
import Banner from "../components/Banner.astro";
import Testimonial from "../components/Testimonial.astro";
import EmailSend from "../components/EmailSend.astro";
---

<Layout title="M.A Products">
  <main>
    <div>
      <Header />
      <Banner />
      <!-- <a href="/user/">Users</a> 
		<a href="/user/about-us">About us</a> -->
      <OurTrending />
      <OurProducts />
      <!-- <Blog /> -->
      <Testimonial/>
      <EmailSend />
      <Footer />
    </div>
  </main>
  <!-- <script src="../js/header.js"></script> -->

</Layout>
