---

import Layout from "../../layouts/Layout.astro";
---


<Layout title="Faqs">
    <div class="flex justify-center items-center pt-28">
        <p class="font-bold text-[2rem]">FAQS</p>
    </div>
    
    <div class="container mx-auto flex justify-between gap-4 ">

        <div class="px-6 py-10">
            <p class="text-[1.5rem] font-serif py-5">
                01.The order
            </p>
            <p class="font-bold">When do I receive my order?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
        <div class="px-6 py-10">
            <p class="text-[1.5rem] font-serif py-5">
                02.Shipment
            </p>
            <p class="font-bold">When do I receive my order?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
    </div>

    <div class="container mx-auto flex justify-between gap-4">
        <div class="px-6 py-10">
            <p class="font-bold">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
        <div class="px-6 py-10">
            <p class="font-bold">I now see the longer delivery time of (a part of) my order. How can I cancel it?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
    </div>
    <div class="container mx-auto flex justify-between gap-4">
        <div class="px-6 py-10">
            <p class="font-bold">When will I receive the invoice for my order?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
        <div class="px-6 py-10">
            <p class="font-bold">When will I receive the invoice for my order?</p> 
            <p>When placing the order, a day of shipment is indicated. After the order has been placed, the same delivery time will also be stated on the order confirmation. It is therefore never possible that during the order, the shipping day on the website, is different than on the order confirmation.</p>
        </div>
    </div>
    


</Layout>


