---
import "../../style/ShortGallery.css"
---




<ul class="my_ul w-full">
    <li class="my_li">
      <span class="my_span">New York</span>
      <img class="w-[100%] h-[100%]" src='https://wallpaperaccess.com/full/1448057.jpg' /></li>
    
    <li class="my_li">
      <span class="my_span">London</span>
      <img class="w-[100%] h-[100%]" src='http://i1276.photobucket.com/albums/y465/gaeowyn/london_in_black_and_white-wallpaper-960x540_zpsa7fa9d45.jpg' /></li>
    
    <li class="my_li">
      <span class="my_span">Poznań</span>
      <img class="w-[100%] h-[100%]" src='http://i1276.photobucket.com/albums/y465/gaeowyn/poznan_poland-wallpaper-960x540_zps6a5470ed.jpg' /></li>
    
    <li class="my_li">
      <span class="my_span">Chicago</span>
      <img class="w-[100%] h-[100%]" src='http://i1276.photobucket.com/albums/y465/gaeowyn/cityscape_skyline_chicago_sculpture-wallpaper-960x540_zps19c2d09d.jpg' />
    </li>
    
    <li class="my_li">
      <span class="my_span">Golden Gate</span>
      <img class="w-[100%] h-[100%]" src='http://i1276.photobucket.com/albums/y465/gaeowyn/golden_gate_in_fog-wallpaper-960x540_zps1f6fc1af.jpg' />
    </li>
  </ul>