---
import Layout from "../../layouts/Layout.astro";

---


<Layout title="thank_you">
<div class="flex justify-center items-center min-h-full py-24">
 <p class="text-[4rem]">Thank You</p>
 <p>thank you we will contact you soon!</p>
</div>   

</Layout>
