---

---
    <div class="flex items-center bg-[url('/images/Contact-us.jpg')] h-[600px] w-[100%]">

        <div class="flex flex-col items-center">
            <p class="text-[orange] text-lg font-bold">EXPLORE THE NEW RANGE
            </p>
            <p class="text-[2rem] font-bold">Fashion is our pasion</p>
            <p class="text-[gray]">See what’s in store. Get excited!
            </p>
            <button class="bg-[orange] px-5 rounded">Submit</button>    
        </div>
   </div>
