---

---


<>

<div class="flex justify-center items-center py-20">
	<p class="text-[2rem] font-serif">Our Blog</p>
</div>

<div class="container mx-auto columns-3 gap-4 py-10 flex-wrap">
	<div class="flex flex-col gap-2 bg-[#FFFFFF] p-8 drop-shadow-xl rounded-md">
     <img class="rounded-md" src="https://opencart.opencartworks.com/themes/so_claue/layout2/image/cache/catalog/blog/2-370x210.jpg" alt=""/>
	 <p class="text-lg  font-bold p-5 hover:text-[#00aeff]">Follow us to know better.</p>
	 <p class="flex justify-center  px-5 text-start">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
     <span class="text-[#00aeff] underline px-5">show more</span>
	</div>
	<div class="flex flex-col gap-2  bg-[#FFFFFF] p-8 drop-shadow-xl rounded-md">
		<img class="rounded-md" src="https://opencart.opencartworks.com/themes/so_claue/layout2/image/cache/catalog/blog/2-370x210.jpg" alt=""/>
		<p class="text-lg font-bold p-5 hover:text-[#00aeff]">Follow us to know better.</p>
		<p class="flex justify-center  text-start px-5 ">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        <span class="text-[#00aeff] underline px-5">show more</span>
	   </div>
	   <div class="flex flex-col gap-2 bg-[#FFFFFF] p-8 drop-shadow-xl rounded-md">
		<img class="rounded-md" src="https://opencart.opencartworks.com/themes/so_claue/layout2/image/cache/catalog/blog/2-370x210.jpg" alt=""/>
		<p class="text-lg  font-bold p-5 hover:text-[#00aeff]">Follow us to know better.</p>
		<p class="flex justify-center text-start px-5 ">Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order.</p>
        <span class="text-[#00aeff] underline px-5">show more</span>
	   </div>
</div>
 </>   
