---

---


<div>
 <div class="flex flex-col justify-center items-center py-10 px-5">
     <p class="text-[1.5rem] font-serif">LATEST FROM MIRU STYLES</p>
     <p class="py-4">Sign-up to receive 10% off your next purchase. Plus hear about new arrivals and offers.</p>
     <div class="flex flex-row gap-4 py-4 flex-wrap px-5 ">
        <input class="px-24 underline" type="email"/>   
        <a href="/user/thankyou">
            <button class="bg-none text-lg font-bold underline">Submit</button>
        </a>
     </div>
 </div>
</div>


  
           


