---

---




<div class="flex flex-col items-center py-10 ">
<div class="sm:text-center">
<p class="text-[2rem] font-serif">Our Trending</p>
</div>
<div class="flex flex-col">
<p class="text-gray-400">Top view in the week</p>
</div>
</div>

<div class="flex container mx-auto  col-span-4 gap-4 ">
   <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
       <a href="#">
           <img class="rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0343/1225/7581/products/RON8537_400x.jpg?v=1654609842" alt=""/>
       </a>
        <div class="p-5">
           <p>Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. </p>
        </div>
   </div>

   <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
       <a href="#">
           <img class="rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0343/1225/7581/products/RON8537_400x.jpg?v=1654609842" alt=""/>
       </a>
        <div class="p-5">
           <p>Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. </p>
        </div>
   </div>
   <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
       <a href="#">
           <img class="rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0343/1225/7581/products/RON8537_400x.jpg?v=1654609842" alt=""/>
       </a>
        <div class="p-5">
           <p>Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. </p>
        </div>
       
   </div>
   <div class="max-w-sm bg-white rounded-lg border border-gray-200 shadow-md dark:bg-gray-800 dark:border-gray-700">
       <a href="#">
           <img class="rounded-t-lg" src="https://cdn.shopify.com/s/files/1/0343/1225/7581/products/RON8537_400x.jpg?v=1654609842" alt=""/>
       </a>
        <div class="p-5">
           <p>Here are the biggest enterprise technology acquisitions of 2021 so far, in reverse chronological order. </p>
        </div>
   </div>

</div>