---

---





<div class="flex justify-center items-center col-span-3 gap-12 py-16">
    <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col items-center gap-2">
            <img class="w-10" src="/images/air-freight.png"  alt=""/>
            <p class="text-lg font-bold">FREE SHIPPING</p>
            <p class="text-lg font-bold">ON ALL ORDERS OVER $50.00</p>
        </div>
        <div>
          <hr class="border-[1px] h-[50px]">
        </div>
    </div>

    <div class="flex justify-between items-center gap-4">
        <div class="flex flex-col items-center gap-2">
        <img class="w-10" src="/images/air-freight.png"  alt=""/>
        <p class="text-lg font-bold">100% PAYMENT SECURE</p>
        <p class="text-lg font-bold">WE ENSURE SECURE PAYMENT WITH PEV</p>
        </div>
        <div>
            <hr class="border-[1px] h-[50px]">
          </div>
  
    </div>

    <div class="flex flex-col items-center gap-2">
        <div>
            <img class="w-10"  src="/images/air-freight.png"  alt=""/>
            <p class="text-lg font-bold">30 DAYS GUARANTEE</p>
            <p class="text-lg font-bold">30-DAYS FREE RETURN POLICY</p>    
        </div>
    </div>
    <div>
        <hr class="border-[1px] h-[50px]">
      </div>

</div>


